:3001 {
    root * assets
    header {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Methods "GET, OPTIONS"
        Access-Control-Allow-Headers "*"
        Cache-Control "no-cache, no-store, must-revalidate"
    }
    file_server {
        browse
        precompressed zstd
    }
    encode zstd
}
